body {
    background-color: #000;

    span {
        color: aqua;
    }

    background: url("@img/cover.jpg") 0 0 no-repeat;
}

@media (max-width: 767px) {
    span {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    span {
        background-color: green;
    }
}